

<!-- Modal -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Details of Order No: {{order.order_number}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
            <div class="list-group">
               
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Customer Information</h5>
                    </div>
                    
                    <table class="mx-auto  table-inverse table-responsive" style="border:none">
                    
                        
                            <tr>
                                <td scope="row"></td>
                                <td >Full Name: </td>
                                <td >{{order.customer_firstName}} {{order.customer_lastName}}</td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td>Phone Number:</td>
                                <td>{{order.customer_phone}}</td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td>Email:</td>
                                <td>{{order.customer_email}}</td>
                            </tr>
                            <tr>
                                <td scope="row"></td>
                                <td>Address:</td>
                                <td>{{order.delivery_address}}</td>
                            </tr>
                        
                            
                    </table>
                    
                   
                </a>
            </div>
            <div class="list-group my-1">
               
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start disabled">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Product Details</h5>
                    </div>
                    <table class="table table-striped table-inverse table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Discount</th>
                                <th>Delivery fee</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for product in order.products.all %}
                                <tr>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{order.orderproduct_set.first.quantity}}</td>
                                    <td>{{product.discount}}</td>
                                    <td>{{order.delivery_fee}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </a>
            </div>
            <h5 class="float-right text-primary">Total : {{order.total_price}} CFA</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="print" ><i class="fas fa-print    "></i></button>
         
        </div>
    </div>
</div>

<script>
    $('#print').click(function () {

        screen.width/2;
        window.open("{% url 'sellerCenter:order.invoice' order.order_number %}", "", "top=0, left= 0");
    })
</script>