{% extends "base.html" %}
{% block content %}
<form action="{% url 'shop:make.order' product.sku %}" method="POST" class=" container"  style="color: #ff9d01;">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 my-2" style="background-color: #ff9d01;color: #ffffff;">
                <div class="">
                    <h3 class=" text-center mx-auto w-auto">{{product.name}} <b id="discount" class="text-red"></b></h3> 
                </div>
                <div class="form-group"> 
                    <input type="hidden" name="discount" id="discount" value="{{product.discount}}">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <div class="form-label-group">
                                <input type="number" id="price" class="form-control" value="{{product.promo_price}}" readonly>
                                <label for="price">{{_("Prix Unitaire")}} <s>{{product.price}}</s> {{_(" (CFA)")}} </label>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-label-group">
                                <input type="number" name="quantity" id="quantity" class="form-control" value="1" min="1" required="required">
                                <label for="quantity">{{_("Quantité")}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <textarea  class="form-control"  readonly>{{product.description}}</textarea>
                    </div> 
                </div>
                <div class="form-group">
                    <div class="form-label-group container">
                        <img class="img img-fluid rounded img-responsive" src="{{ product.image.url}} " alt="{{product.name}}">
                    </div> 
                </div>
        </div>

        <div class="col-md-6 my-2" style="">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <div class="form-label-group">
                            <input type="text" id="firstName" name="customer_firstName" class="form-control" placeholder="{{_("Prénom(s)")}}" required="required">
                            <label for="firstName">{{_("Prénom(s)")}}</label>
                        </div> 
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="form-label-group">
                            <input type="text" id="lastName" name="customer_lastName" class="form-control" placeholder="{{_("Nom(s)")}}" required="required">
                            <label for="lastName">{{_("Nom(s)")}}</label>
                        </div>  
                    </div>
                    
                </div>
                
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <div class="form-label-group">
                            <input type="text" id="phone" name="customer_phone" class="form-control" placeholder="ex: +237 652534661" required="required">
                            <label for="phone">{{_("Tel")}}</label>
                        </div> 
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="form-label-group">
                            <input type="email" name="customer_email" id="email" class="form-control" placeholder="{{_("Email")}}" required="required">
                            <label for="email">{{_("Email")}}</label>
                        </div>  
                    </div>
                    
                </div>
                
            </div>
            <div class="form-group">
                <h5>{{_("Souhaitez vous être livré ?")}}</h5>
                <input type="radio" name="isDeliveryFee" id="yes"> <strong>{{_("Oui")}}</strong>
                <input type="radio" name="isDeliveryFee" id="no"> <strong>{{_("Non")}}</strong>
            </div>
            <div id="delivery-block" style="display: none;">
                <div class="form-group" >
                    <label for="address">{{_("Adresse")}}</label>
                    <select name="city" id="city" class="form-control">
                        <option value="None" selected>Selectionez Une ville</option>
                        {% for city in cities %}
                            <option value="{{city.city_id}}">{{city.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="text" id="address" name="delivery_address" class="form-control" placeholder="{{_("Adresse de livraison")}}" value = "">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="delivery_fee">
                                <h5  class="float-right"></h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group w-100 px-3" id="total-price">
                    <h3  class="float-right"></h3>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group w-100 px-3">
                    <input type="submit" value = "{{_("J'achète")}}"  class="btn btn-primary float-right">
                </div>
            </div>
            
            
        </div>
    </div>
    
</form>
<script type="text/javascript">
    totalPrice();
    getDeliveryFee()
    getDiscount()

    function getDiscount() {
        price = '{{product.price}}';
        promo_price = '{{product.promo_price}}'
        discount = parseInt((price - promo_price)*100/price);
        $('#discount').html( "( - " + discount +" % )");
    }
    function totalPrice(delivery_fee = 0) {
        total = $('#price').val()* $('#quantity').val() + delivery_fee;
       
        $('#total-price h3').html("Total: "+ total +"  CFA");
    }

    function getDeliveryFee() {
        var sku = "{{product.sku}}"
        delivery_fee = 0;
        $('#delivery_fee h5').html("Frais de Livraison: "+ delivery_fee +"  CFA"); 
        if ($("#city").val() != "None"){
            var sku = "{{product.sku}}"
            $.ajax({
                url: '/sellerCenter/delivery_fee/'+sku+'/'+$("#city").val(),
                success: function(data){
                    delivery_fee = data.delivery_fee  ;
                    $('#delivery_fee h5').html("Frais de Livraison: "+ delivery_fee +"  CFA"); 
                    totalPrice(delivery_fee);
                }
            })
        }else{
            totalPrice(delivery_fee);  
        }
        return delivery_fee
         
        
    }
    
    $("input:radio").change(function () {
        totalPrice();
        if ($('#yes').is(':checked')) {
            $('#delivery-block').css('display','block');
        } else {
            $('#delivery-block').css('display', 'none');
        }
        
    })

    
    $("#quantity").change(function(){
        totalPrice();
    })
    $("#city").change(function(){
        getDeliveryFee();
    })
</script>
{% endblock %} 