{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title text-center"><i class="far fa-check-circle fa-7x my-5" style="color:green"></i></h4>
          <h2 class="card-text text-center">Cher(e) client(e), votre commande a été prise en compte, merci et à bientôt pour la livraison.</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %} 