{% extends "base_generic.html" %}
{% block content %}
      <div class="container-fluid">
        
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <form action="{% url 'sellerCenter:delivery_fee.create' %}" method="post" class="w-100">
            {% csrf_token %} 
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-3">
                  <label for="">{{_("Product")}}</label>
                  {{form.sku}}
                </div>
                <div class="col-md-3">
                  <label for="">{{_("City")}}</label>
                  {{form.city}}
                </div>
                <div class="col-md-3">
                  <label for="">{{_("Delivery Fee")}}</label>
                  {{form.amount}}
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="">{{_("Validate")}}</label>
                    <input type="submit" class="form-control" value="Add Fee" >
                  </div>
                  
                </div>
              </div>
              
            </div>
          </form>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Delivery Fee
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>City</th>
                    <th>Delivery Fee (CFA)</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Product Name</th>
                    <th>City</th>
                    <th>Delivery Fee (CFA)</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for delivery_fee in delivery_fees %}
                  <tr>
                    <td>{{delivery_fee.sku}}</td>
                    <td>{{delivery_fee.city}}</td>
                    <td>{{delivery_fee.amount}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <!-- Start Modal  -->
            <div class="modal fade bg-dark" id="modal-div" tabindex="-1" role="dialog" aria-labelledby="create-product" aria-hidden="true">
                
            </div>
            <div class="modal bg-dark fade" id="shop-link" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <input class="form-control mx-2 float-left" type="text" name="link" value="" id="link"> 
                                <i id="copy" class="fa fa-clipboard btn btn-primary" aria-hidden="true"></i>
                            </div>
                        </div>
                  </div>
            </div>
        <!-- End Modal  -->

      </div>
      <!-- /.container-fluid -->
      <script type="text/javascript">
            function getForm(){
                
			}
            var modalDiv = $("#modal-div");
           
            $(".open-modal").on("click", function(){
                $.ajax({
                    url: $(this).attr("data-url"),
                    success: function(data){
                        modalDiv.html(data);
                        $("#modal-div").modal();
					}
				});     
			});
            $(".shop-link-modal").on("click", function(){
                
                $('input[name = link]').val($(this).data('id'));
                $("#shop-link").modal();
			}); 

            $("#copy").on("click", function(){
                var copyText = $('input[name = link]');
                copyText.select();
                document.execCommand("copy");
			}); 
      </script>
{% endblock %} 
